header{ 
    border: #cccccc;
    margin:0 auto;
    background-color:#ffffff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.navigation{
    width: 960px;
    margin: 0 auto;
}

nav{
    float: right; 
    padding: 20px;
    overflow: hidden;
}

.name{
    background-color: #4aaaa5;
    color: white;
    float:left;
    width:20%;
    left: 30%;
    right: 30%;
    padding:20px;
    text-align:center;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 24px;
    border: 1px;
    
}

.button{
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #777777;
    float: right;
    margin: 5px;
    padding: 15px;
}

.container{
    overflow: hidden;
    border: solid 1px;
    border-color: #dddddd;
    background-color: #ffffff;
    clear:both;
    width: 960px;
    margin:30px auto;
    padding:30px;
}

body{
    background-image: url("../images/gravel.png");
}

footer{
    width:960px;
    margin:0 auto;
}